<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024669533218-dn2gpusin2r6vbpo4a9165fiqtc1hreb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024669533218-dn2gpusin2r6vbpo4a9165fiqtc1hreb</string>
	<key>API_KEY</key>
	<string>AIzaSyDEmPty1FZaBK7atrjjC9mlo5li54upsjs</string>
	<key>GCM_SENDER_ID</key>
	<string>1024669533218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tripmate</string>
	<key>PROJECT_ID</key>
	<string>tripmate-ec1fe</string>
	<key>STORAGE_BUCKET</key>
	<string>tripmate-ec1fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024669533218:ios:08452091cc4ea16604b67b</string>
	<key>DATABASE_URL</key>
	<string>https://tripmate-ec1fe-default-rtdb.firebaseio.com</string>
</dict>
</plist>